/* Base styles */
.spinner{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90.1vh;
    z-index: 1300;
}
.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 20px;
    background-color: #49646b;
}

h5 {
    font-size: 18px;
    color: #999;
    text-align: center;
}

/* Link styles */
a {
    display: inline-block;
    margin: 15px 0; /* Increased margin for more spacing */
    padding: 20px 40px; /* Increased padding for larger box */
    border-radius: 12px; /* Increased radius for a smoother look */
    text-decoration: none;
    color: #fff; /* White text for better contrast */
    font-weight: 600;
    font-size: 18px; /* Larger font size */
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1); /* Deeper shadow */
    width: 100%;
    text-align: center;
    max-width: 1500px; /* Limit max width */
    background-image: linear-gradient(135deg, #6a5acd, #483d8b);/* Same gradient color for all links */
}

a:hover {
    background-color: transparent;
    color: #fff;
    transform: translateY(-8px); /* Lift effect */
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Enhanced shadow on hover */
}

a:active {
    transform: scale(0.95);
}

/* Responsive layout for mobile-first */
@media (max-width: 768px) {
    a {
        width: 100%; /* Full width on smaller screens */
        padding: 25px;
        font-size: 18px;
    }
}

/* Tablet view */
@media (min-width: 769px) and (max-width: 1024px) {
    a {
        width: 90%; /* Slightly reduced width for tablet */
    }
}

/* Desktop view */
@media (min-width: 1025px) {
    a {
        width: 80%; /* 80% width for desktop views */
    }
}
