<header>
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-3 col-3">
        <div class="logo-container">
          <!-- <img src="assets/codesnippet.png" alt="logo" class="logo"> -->
        </div>
      </div>
      <div class="col-md-9 col-sm-9 col-9 text-end">
        <div class="menu-btn">
          <i class="bi bi-list"></i>
        </div>
        <div class="desktop-menu">
          <ul>
            <li>Home</li>
            <li>About</li>
            <li>Create code</li>
            <li>Logout</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>